.formacao {
  background: #1e1e1e;
  color: #fff;
}

.formacao-container {
  max-width: 1200px;
  padding: 120px 125px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.formacao-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/Detalher.svg") no-repeat center center;
  position: absolute;
  bottom: -50px;
  left: 20px;
}

.formacao .subtitulo {
  color: #000;
  font-size: 130px;
  word-break: break-all;
  line-height: 140px;
  max-width: 5ch;
}

@media (min-width: 1221px) and (max-width: 1350px) {
  .formacao .subtitulo {
    font-size: 120px;
    line-height: 130px;
    max-width: 5ch;
    word-break: break-all;
  }
  .expe .subtitulo {
    font-size: 120px;
    line-height: 130px;
  }
}

.formacao-texto {
  font-size: 24px;
  line-height: 32px;
  color: #cfcfcf;
  margin-bottom: 50px;
  max-width: 40ch;
}

.formacao-texto strong {
  color: #fff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background: #131313;
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
  margin-bottom: 20px;
  margin-top: 13px;
}

.faculdade-curso {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #f7f7f7;
  position: relative;
  margin-bottom: 20px;
}

.faculdade-instituicao {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  margin-top: 0px;
  margin-bottom: 7px;
}

.faculdade-curso::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 20px;
  top: 0px;
  left: -24px;
  background: linear-gradient(180deg, #dd700c 0%, #f8aa4e 100%);
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #666666;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  width: 29px;
  height: 29px;
  position: absolute;
  left: -41px;
  top: -4px;
}

.cursos h3::before {
  background: url("../img/Curso.svg") no-repeat center center;
}

.idiomas h3::before {
  display: block;
  content: "";
  width: 29px;
  height: 29px;
  position: absolute;
  left: -41px;
  top: -4px;
  background: url("../img/Idiomas.svg") no-repeat center center;
}

.formacao-extra li {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #f7f7f7;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: #666666;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

.formacao-extra {
  margin-top: 120px;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .subtitulo {
    color: #fff;
    font-size: 3rem;
    max-width: initial;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}
